body {
 
    padding-top: 60px;
}

.error_message {
    color: red;
}

h3 [class^="icon-"], h3 [class*=" icon-"] {
    margin-top: 4px;
}

textarea {
    width: 50%;
}

label { color: #000; text-shadow: 0 0; }
.label { background-color: #FFF; text-shadow: 0 0; }