<h2>Deal name: [% object.name %]</h2>
[% FOREACH note IN notes %]
<fieldset>
  <legend>Noted by [% note.user.name %] at [% note.created %]</legend>
  <div class="note">
    <p>[% note.note %]</p>
    <p>[% note.user.name %] at [% note.created %]</p>
  </div>
</fieldset>
[% END %]
